<mat-toolbar class="footer" color="primary">
  <mat-toolbar-row>
    <div class="toolbar no-select" routerLink="">
      <span>&copy; nJ</span>
    </div>

    <span class="example-spacer">  </span>
    <div class="toolbar footer-social no-select">
      <button mat-icon-button color="grey" aria-label="Example icon button with a heart icon">
        <mat-icon>group</mat-icon>
      </button>

      <button mat-icon-button color="grey" aria-label="Example icon button with a heart icon">
      <mat-icon>person_add</mat-icon>
      </button>




      <button mat-icon-button color="grey" aria-label="Example icon button with a heart icon">
      <mat-icon>share</mat-icon>
      </button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>


